/* Fondo del cuerpo */
body {
    background-color: black;
    /* Fondo negro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

/* Título centrado */
.title {
    text-align: center;
    justify-content: center;
    color: white;

}

.subtitle {
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

/* Contenedor principal centrado con fondo blanco */
.container {
    background-color: rgb(15, 15, 15);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    text-align: center;
    border: 3px solid rgb(56, 56, 56);
    margin: 1%;
}

/* Estilo para las filas */
.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

/* Cada columna contiene un botón y una etiqueta */
.column {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.column>p {
    color: white;
}

/* Botones estilizados */
.btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #2980b9;
}

#botonLimpiar {
    border: 2px solid #3498db;
    background-color: white;
    color: #3498db;
}

#botonLimpiar:hover {

    background-color: #bbb3b3;

}


/* Estilo para las etiquetas */
span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.selector {
    width: 70px;
    padding: 10px;
    font-size: 16px;
    border: 3px solid rgb(56, 56, 56);
    /* Borde verde */
    border-radius: 5px;
    background-color: rgb(15, 15, 15);
    /* Fondo claro */
    color: white;
    /* Color del texto */
}
.listaResultados{
list-style: none;
display: flex;
flex-direction: row;

}
.listaResultados >li{
    color: white;
    padding: 1%;
}